body {
  font-family: "Fixedsys Excelsior 3.01", sans-serif;
}
hr {
  height: 0px;
  width: 1450px;
  border: 2px solid lightgray;
}
.title {
  position: relative;
  left: 400px;
  color: black;
  text-decoration: none;
}
.myphoto {
  position: absolute;
  width: 310px;
  left: 400px;
}
.header {
  left: 890px;
  position: absolute;
  display: inline-block;
  font-size: 30px;
  font-weight: 750;
  background-color: lightgray;
  font-style: italic;
  text-transform: uppercase;
}
.text1 {
  width: 513px;
  text-align: justify;
  position: absolute;
  left: 725px;
  top: 110px;
}
.article {
  position: absolute;
  left: 510px;
  top: 450px;
  font-size: 30px;
  font-weight: 750;
}
.ap {
  width: 370px;
  position: absolute;
  padding: 8px;
  top: 50px;
  left: 340px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(228, 228, 228);
}
.list {
  width: 445px;
  top: 485px;
  position: absolute;
  left: 360px;
}
li {
  list-style-type: none;
}
.selection {
  color: rgb(29, 145, 106);
}
.table {
  font-family: "Segoe UI", sans-serif;
  position: absolute;
  display: inline-block;
  top: 1000px;
  left: 540px;
  font-size: 20px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  background: lightgray;
  color: black;
  border: 2px solid gray;
  border-radius: 5px;
}
th,
td:first-child {
  font-size: 18px;
  padding: 10px;
  background: rgb(198, 198, 198);
}
td {
  padding: 10px;
  background: gainsboro;
  border-radius: 4px;
}
.tableheader {
  font-family: "Segoe UI", sans-serif;
  position: absolute;
  display: inline-block;
  top: 930px;
  left: 730px;
  font-size: 22px;
  font-weight: 661;
}
.form {
  top: 1210px;
  left: 400px;
  position: absolute;
  font-size: small;
  width: max-content;
}
input {
  position: relative;
}
.buttons
{
  display: grid;
  width: 50px;
  grid-template-columns: repeat(2, 77px);
}
.buttons__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid rgb(0, 0, 0);
}
.buttons__column-para
{
  border: 2px solid light ;
}
