body {
  font-family: "Fixedsys Excelsior 3.01", sans-serif;
}
hr {
  height: 0px;
  width: 85%;
  border: 2px solid lightgray;
}
.title {
  position: relative;
  left: 21%;
  color: black;
  text-decoration: none;
}
.myphoto {
  position: absolute;
  width: 16%;
  left: 21%;
}
.header {
  left: 47%;
  position: absolute;
  display: inline-block;
  font-size: 30px;
  font-weight: 750;
  background-color: lightgray;
  font-style: italic;
  text-transform: uppercase;
}
.text1 {
  width: 27%;
  text-align: justify;
  position: absolute;
  left: 38%;
  top: 11%;
}
.article {
  position: absolute;
  left: 27%;
  top: 49%;
  font-size: 30px;
  font-weight: 750;
}
.ap {
  width: 144%;
  position: absolute;
  padding: 8px;
  top: 100%;
  left: 130%;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(228, 228, 228);
}
.list {
  width: 22%;
  top: 53%;
  position: absolute;
  left: 19%;
}
li {
  list-style-type: none;
}
.selection {
  color: rgb(29, 145, 106);
}
.table {
  font-family: "Segoe UI", sans-serif;
  position: absolute;
  display: inline-block;
  top: 107%;
  left: 29%;
  font-size: 20px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  background: lightgray;
  color: black;
  border: 2px solid gray;
  border-radius: 5px;
}
th,
td:first-child {
  font-size: 18px;
  padding: 10px;
  background: rgb(198, 198, 198);
}
td {
  padding: 10px;
  background: gainsboro;
  border-radius: 4px;
}
.tableheader {
  font-family: "Segoe UI", sans-serif;
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 38%;
  font-size: 22px;
  font-weight: 661;
}
.form {
  top: 135%;
  left: 21%;
  position: absolute;
  font-size: small;
  width: max-content;
}
input {
  position: relative;
}
